# ETL Pipeline Preparation
The Following code creates the ETL pipeline that generates the processed data for the Machine learning Algorithm
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `data/EURUSD_M1.csv` into a dataframe 1 Minute Transaction.
- Load `data/EURUSD_M5.csv` into a dataframe 5 Minute Transaction.
- Load `data/EURUSD_M15.csv` into a dataframe 15 Minute Transaction.
- Load `data/EURUSD_M30.csv` into a dataframe 30 Minute Transaction.

In [19]:
# Import pandas Library
import pandas as pd

In [20]:
# Load the datasets 
df_M1 = pd.read_csv("data/EURUSD_M1.csv")
df_M5 = pd.read_csv("data/EURUSD_M5.csv")
df_M15 = pd.read_csv("data/EURUSD_M15.csv")
df_M30 = pd.read_csv("data/EURUSD_M30.csv")

In [30]:
def split_data(df):
    """Splits the dataset in to columns and process the timestamp to day, month and year
    INPUT: (pandas dataframe) trade dataset with single joined column separated by \t
    OUTPUT: (pandas dataframe) trade dataset with multiple column that containing Time, Open, High, Low, Close
    """    
    columns = df_M1.columns[0].split("\t")
    # create a dataframe of the merged data
    df = df[df.columns[0]].str.split('\t', expand=True)
    df.columns = columns
    df['Time'] = pd.to_datetime(df['Time']) 
    df['Day'] = df.Time.apply(lambda x: x.day)
    df['Month'] = df.Time.apply(lambda x: x.month)
    df['Year'] = df.Time.apply(lambda x: x.year)
    return df

In [31]:
df = split_data(df_M1)
df.head()

,Time,Open,High,Low,Close,Volume,Day,Month,Year
0,2020-04-27 04:40:00,1.08418,1.08419,1.08405,1.08412,154,27,4,2020
1,2020-04-27 04:41:00,1.08413,1.08426,1.08412,1.08422,67,27,4,2020
2,2020-04-27 04:42:00,1.08422,1.08422,1.08415,1.0842,64,27,4,2020
3,2020-04-27 04:43:00,1.0842,1.0842,1.08412,1.08413,61,27,4,2020
4,2020-04-27 04:44:00,1.08414,1.08425,1.08414,1.08421,98,27,4,2020

In [25]:
day[:10]

0    27
1    27
2    27
3    27
4    27
5    27
6    27
7    27
8    27
9    27
Name: Time, dtype: int64

In [11]:
# create a dataframe of the merged data
df_M1 = df_M1[df_M1.columns[0]].str.split('\t', expand=True)
# df_M1.columns = df_M1.columns[0].split("\t")

In [13]:
df_M1.columns = columns

In [16]:
df_M1.columns

Index(['Time', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [17]:
df_M1['Time'] = pd.to_datetime(df_M1['Time'])

                 Time     Open     High      Low    Close Volume
0 2020-04-27 04:40:00  1.08418  1.08419  1.08405  1.08412    154
1 2020-04-27 04:41:00  1.08413  1.08426  1.08412  1.08422     67
2 2020-04-27 04:42:00  1.08422  1.08422  1.08415   1.0842     64
3 2020-04-27 04:43:00   1.0842   1.0842  1.08412  1.08413     61
4 2020-04-27 04:44:00  1.08414  1.08425  1.08414  1.08421     98